*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.navbar {
    margin: 0 auto;   
    margin-top: 50px;     
    width: 50%;             
    top: 50%;
    text-align: center;
    margin-bottom: 150px;
    font-size: 1.5em;
}
.top-logo{
    font-size: 2em;
    font-weight: bold;
}
.navbar span{
    color: rgb(82, 49, 207);
}

.container{
    width: 500px !important;
    text-align: center;
    margin: 0 auto !important;
}
.header{
    margin-bottom: 20px;
    text-align: center;
}
.form{
    display: flex !important;
    flex-direction: column !important;
    width: 300px !important;
    margin: 0 auto !important;
}

.input-container {
    position: relative !important;
}
.address{
    margin-bottom: 10px;
    border-radius: 5px;
}
input {
    border: 1px solid gray; 
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
    width: 95%;
    height: 16px;
    padding: 8px;
    background: transparent;
}
label {
    position: absolute !important;
    top: 8px;
    left: 10px; 
    font-size: 16px;
    color: #aaa;
    transition: 0.2s ease all;
    pointer-events: none;
    padding-left: 8px;
}
input:focus ~ label,
input:valid ~ label {
    top: -10px;
    font-size: 12px;
    color: #333; 
    background: white;
    padding: 0 5px;
}
input:focus {
    border-color: #333; 
}
  
.submit{
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 25px;
    background-color: rgb(16, 163, 127);
    color: white;
    font-size: 15px;
}
.form p{
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.green{
    color: rgb(16, 163, 127);
}

.or-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 60%;
}
.left-hr, .right-hr {
    flex: 1;
    border: none;
    border-top: 1px solid black; 

}
.or-text {
    margin: 0 10px;
    color: black;
}


.box{
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 auto;
    width: 55%;
    margin-bottom: 10px;
    height: 30px;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
}
.box a{
    color: black;
}

.box i{
    margin-right: 8px;
}
a{
    text-decoration: none;
}


.avatar-selection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.avatar-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-option input[type="radio"] {
    margin-bottom: 5px;
}

.avatar-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.avatar-img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Selected avatar styling (optional for visual feedback) */
input[type="radio"]:checked + .avatar-img {
    border: 3px solid #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

