{% extends "base.html" %}
{% load static %}

    {% block title %} <title>UnoBank - Your Banking Partner for Life</title> {% endblock title %}

    {% block styles %} <link rel="stylesheet" href="{% static "css/styles.css" %}"> {% endblock styles %}

    
    {% block content %}

        <nav class="navbar">
            <ul class="container">
                <h3 class="logo"><a href="{% url "index" %}"><span>U</span>noBank.</a></h3>
                <div class="center-div">
                    <li><a href="">Banking</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Card</a></li>
                </div>
                <div class="right-div">
                    <button class="login" type="submit"><a href="{% url "login" %}">Login</a></button>
                    <button class="register" type='submit'><a href="{% url "register1" %}">Sign Up</a></button>
                </div>
                
            </ul>
        </nav>

        <div class="main-content">
            <div class="text">
                <h1>Best way <br>to tracking <span>money</span></h1>
                <p>Payment system has become increasingly <br> popular internet based shopping and banking.</p>
                <button class="btn" type="submit"><a style="color: white;" href="home.html">Get Started</a></button>
                <button class="vid" type="submit"><i class="fa-solid fa-circle-play"></i> Watch Video</button>
            </div>
            <div class="illustration"></div>
        </div>

        <div class="footer">
            <button class='signs' type="submit">
                <a href=""><i class="fa-brands fa-apple"></i> Apple Store</a>
            </button>
            <button class='signs' type="submit">
                <a href=""><i class="fa-brands fa-google-play"></i> Google Play</a>
            </button>
        </div>

    {% endblock content %}

    

</body>
</html>