{% extends "../base.html" %}
{% load static %}

{% block title %} <title>Sign Up - UnoBank</title> {% endblock title %}
{% block styles %} <link rel="stylesheet" href="{% static "css/register2.css" %}"> {% endblock styles %}
    
    {% block content %}

    <div class="navbar">
        <i class="fa-brands fa-drupal"></i>
        <h3 class="logo"><span>U</span>noBank.</a></h3>
    </div>
    
    <div class="container">
        <h1 class="header">Just A Little More</h1>

        <form action="{% url "register2" %}" class="form" method="post">
            {% comment %} <div class="input-container">
                <input type="name" required>
                <label>Username*</label>
            </div> 
            <div class="input-container">
                <input type="email" required>
                <label>Email address*</label>
            </div>  
            <div class="input-container">
                <input type="password" required>
                <label>Password*</label>
            </div>  
            <div class="input-container">
                <input type="password" required>
                <label>Confirm Password*</label>
            </div>             {% endcomment %}

            {% csrf_token %}
            {{profileform.as_p}}
            <button class="submit" type="submit">Register</button>
            <p>Already have an account? <a class="green" href="login.html">Log In</a></span></p>
        </form>

        <div class="or-container">
            <hr class="left-hr">
            <span class="or-text">OR</span>
            <hr class="right-hr">
        </div>
        
        <div class="sign">
            <div class="box">
                <i class=" icon fa-brands fa-google"></i>
                <a href="">Continue with Google</a>
            </div>
            <div class="box">
                <i class="icon fa-brands fa-microsoft"></i>
                <a href="">Continue with Microsoft Account</a>
            </div>
            <div class="box">
                <i class="icon fa-brands fa-apple"></i>
                <a href="">Continue with Apple</a>
            </div>
        </div>

    </div>

    {% endblock content %}

    
    